<div>
  <h1>Hello World - Tic Tac Toe</h1>
  <div class="game">
    <div class="game-board">
      <h4>Player 1: X &nbsp;&nbsp; Player 2: O</h4>
      <app-board
        [squares]="squares"
        (onSquareClick)="onSquareClick($event)"
      ></app-board>
      <p>
        <span *ngIf="winner == ''" class="description"><u>Next</u>: {{nextPlayer}}</span>
        <span *ngIf="winner == 'X'" class="description"><u>Winner</u>: X</span>
        <span *ngIf="winner == 'O'" class="description"><u>Winner</u>: O</span>
        <span *ngIf="winner == 'draw'" class="draw">No Winner!</span>
      </p>
    </div>
    <div class="game-info">
      <p class="moves-history-title">
        <strong>Moves History:</strong>
        (<input
        type="checkbox"
        [(ngModel)]="reverseList"
        id="reverse" /><label for="reverse">reverse?</label>)
      </p>
      <ol [attr.reversed]="reverseList ? true : null">
        <li *ngFor="let historyItem of getHistoryList(); let i = index">
          <button (click)="goToHistory(historyItem.index)" [style.fontWeight]="historyItem.selected ? 'bold' : ''">
              {{historyItem.label}}
          </button>
        </li>
      </ol>
    </div>
  </div>
</div>
